* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #202020;
  /* background: url("C:\Users\denis\LeReacteur\React\13\exercice13\Marvel\frontend\src\assets\images\backgroundmarvel.jpg")
    fixed;
  opacity: 0.3; */
}

a:hover {
  text-decoration: none;
}

.searchingBar {
  margin-top: 150px;
  margin-bottom: 50px;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  background-color: lightgray;
  font-size: 20px;
}

.searchBox i {
  background-color: lightgray;
  height: 50px;
  padding-top: 3.5px;
  color: grey;
  border-radius: 5px 0px 0px 5px;
}

img {
  object-fit: cover;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
  width: 100%;
  height: 160px;
  background-color: #202020;
  margin: 0 auto;
  padding: 0 80px;
}

header button:hover {
  color: red;
}

header img {
  width: 200px;
  height: 100;
}

header .part1 {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid lightgray;
  /* display: flex;
  justify-content: center; */
}

header nav {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-nav button {
  width: 150px;
  margin: 10px 20px;
  color: white;
  border: none;
  background-color: #202020;
  font-size: 20px;
}

.signup-join button {
  color: white;
  border: none;
  background-color: #202020;
  font-size: 20px;
}

.backgound-img {
  display: flex;
}

.backgound-img img {
  height: 400px;
  width: 100%;
}

/* HOME */

.container-characters {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
}

.container-characters::-webkit-scrollbar {
  display: none;
}

.characters {
  background-color: #202020;
  color: lightgrey;
  height: 680px;
}
.characters img {
  width: 300px;
  height: 400px;
}
